@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: Inter;

    --white: #fff;
    --dark-border: #5c5c5c;
    --background-1: #272626;
}

.App {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


